# Byte-compiled / optimized / DLL files
__pycache__/

# Sphinx documentation
docs/build/
docs/source/reference/generated/

# Builds
/eiger_dir/build
/dist

# pytest
.pytest_cache/

# PyBuilder
target/

# Editor files
#mac
.DS_Store
*~

#vim
*.swp
*.swo

#cursorrules
.cursorrules

#pycharm
.idea/

#VSCode
.vscode/

.env
.asv/
venv/

#test data
*.h5
eiger_simulation/test_data/*

# reconstruction results
recon_result/
.ptycho*
*.png


# egg
*.egg*/

# profiling
*.nsys-rep
*.sqlite
*.log
